<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for siging up for Late Labs</h1>
    <p>
      High Five! Now let's build some cool stuff :D<br/><br/>
      Feel free to reach out any time with questions or suggestions<br/>
      Check out our Github: <%= @url %>.
    </p>
  </body>
</html>
