<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for siging up for Late Labs <%= @user.user_name %></h1>
    <p>
      High Five! Now let's build some cool stuff :D<br/>
    </p>
  </body>
</html>