<div class="landingpage">

	<div class="main">
		<img src="assets/icon.png" />
		<h1>Late Labs 2.0 is in Private Beta </h1>
		
		<h2>To receive an invite to our private beta, signup and we will get back to you when everythings ready.</h2>

		<%= form_for @signup do |f| %>
		   <%= f.text_field :signup_email  %>
		   <%= f.submit "submit" %>
		<% end %>
	</div>
	<footer>
		<p>To contribute to our Open-Source platform, check out our <a href="https://github.com/latelabs/latelabs">Github Repository</a></p>
	</footer>
</div>
