<div class="landingpage">
	<a class="github-button" href="https://github.com/latelabs/latelabs">Github Repo</a>

	<img src="assets/icon.png"/>

	<h1 class="landingpage-h1">Late Labs 2.0</h1>

	<h2>Closed</h2>

	<h3>We had a great time and learned a bunch, but have closed Late Labs. Reach out if you have questions, we are happy to share our experiences.</h3>

	<!-- <div class="signup-form">
		<%= form_for @signup do |f| %>
		   <%= f.text_field :signup_email %>
		   <%= f.submit "submit" %>
		<% end %> -->
	</div>
</div>
