<div class="landingpage">

	<img src="assets/icon.png"/>

	<h1 class="landingpage-h1">Late Labs</h1>

	<h2>is closed</h2>

	<h3><a href="mailto:justin@latelabs.com?Subject=Ohai" target="_top">Reach out</a> if you have questions at all, we are happy to share our experiences.</h3>

	<!-- <div class="signup-form">
		<%= form_for @signup do |f| %>
		   <%= f.text_field :signup_email %>
		   <%= f.submit "submit" %>
		<% end %> -->
	</div>
</div>
