<div class="landingpage">

	<div class="main">
		<img src="assets/icon.png" />
		<h1>Late Labs 2.0 is in Private Beta </h1>
		<br>
		<h2>{ Thanks : <a href="https://twitter.com/latelabs">Check out Twitter and Join the Conversation }</a></h2>
				   
	</div>
<footer>
	<p>To contribute to our Open-Source platform, check out our <a href="https://github.com/latelabs/latelabs">Github Repository</a></p>
</footer>
</div>
