<div id="signups"></div>
<ul>
<% Signup.all.each do |x| %>
<li><%= x.signup_email %> :
date signed up = <%= x.created_at %><li>
<% end %>
</ul>

<script type="text/javascript">


	// Keen.onChartsReady(function() {
	//   var metric = new Keen.Metric("sign_ups", {
	//     analysisType: "count"
	//   });
	//   metric.draw(document.getElementById("signups"));
	// });

	Keen.ready(function(){
	  var query = new Keen.Query("count_unique", {
	    eventCollection: "sign_ups",
	    timeframe: "this_year",
	    targetProperty: "email.signup_email",
	    interval: "weekly"
	  });
	  client.draw(query, document.getElementById("signups"), {
	    // Custom configuration here
	  });
	});

</script>
