<div class="navbar navbar-fixed-bottom footer" role="navigation">
	<div class="container">
	 ©Late Labs LLC 2014. All rights reserved.
	<ul>
		<li><a href="/about">about</a></li> |
		<li><a href="http://latelabs.tumblr.com">blog</a></li> |
		<li><a href="/FAQ">FAQ</a></li> |
		<li><a href="/termsandconditions">terms & conditions</a></li> |
		<li><a href="/privacy">privacy policy</a></li>
	</ul>
</div>
</div>
