<div class="navbar navbar-fixed-bottom footer" role="navigation">
	<div class="container">
	 ©Late Labs LLC 2014. All rights reserved.
	<ul>
		<li><a href="mailto:justin@latelabs.com?Subject=I%20have%20a%20question" target="_top">Send a Note</a></li>
	</ul>
</div>
</div>
