<%= render 'header' %>
<div class="container">
	<h1>About Late Labs</h1>
	<p>Late Labs is a place for developers to find collaborators. Our goal is to provide a friendly, professional and secure environment where developers can find other developers that are interested in the same things. You might both want to work on an opensouce framework, a puppy app, or just pair with some interseting people to learn a thing or two. What ever the reason, come here to collab with interesting people... not get recruited.</p>

	<br>
	<hr>

	<h2 class="fa fa-github fa-1x"> Make Late Labs Better</h2>
	<p>Late Labs is always looking for developers to help out with our opensource platform, feel free to fork us at <a id="links" href="https://github.com/latelabs/latelabs" target="_blank">https://github.com/latelabs/latelabs</a>. And if you're interested in any form of partnership, email us directly at <a id="links" href="mailto:hustle@latelabs.com">hustle@latelabs.com</a></p>

	<br>
	<hr>

	<h2 class="fa fa-info-circle fa-1x"> Contact Us</h2>
	<p>We love hearing new ideas, and finding great partners. If you'd like to connect with us directly, feel free to email us at <a id="links" href="mailto:hustle@latelabs.com">hustle@latelabs.com</a></p>




</div>



<div id="spacing">
</div>

<%= render 'footer' %>
