<%= render 'header' %>
<div class="mainContent">
	<div class="sectionContent">
	<h1>About Late Labs</h1>
		<p>
			Late Labs is a place for developers to find collaborators. Our goal is to provide a friendly, professional and secure environment where developers can find other developers that are interested in the same things. You might both want to work on an opensouce framework, a puppy app, or just pair with some interseting people to learn a thing or two. What ever the reason, come here to collb with interesting people... not get recruited.
		</p>
	</div>
	<div class="sectionContent">
	<h1>The Team</h1>


		<div class="memberGroup">
			<ul>
				<li><img src="/assets/justin_animation.gif"></li>
				<li><h3>Justin Johnson</h3></li>
				<li><p>Co-founder & CEO</p></li>
			</ul>
		</div>

		<div class="memberGroup">
			<ul>
				<li><img src="/assets/nathan_animation.gif"></li>
				<li><h3>Nathan Ross</h3></li>
				<li><p>Co-founder & Director of Product</p></li>
			</ul>
		</div>

		<div>
			<h1>Make Late Labs Better</h1>
			<p>
			Late Labs is always looking for developers to help out with our opensource platform, feel free to fork us at <a href="https://github.com/latelabs/latelabs" target="_blank">https://github.com/latelabs/latelabs</a>. And if you're interested in any form of partnership, email us directly at <a href="mailto:hustle@latelabs.com">hustle@latelabs.com</a>
			</p>

	</div>
</div>

</div>

<%= render 'footer' %>