<%= render 'header' %>
<div class="mainContent">
	<h1>Frequently Asked Questions</h1>
	<h3>This is an example question</h3>
	<p>This is an example answer</p>
	<br>
	<hr>
	<br>

	<h3>This is an example question</h3>
	<p>This is an example answer</p>
	<br>
	<hr>
	<br>

	<h3>This is an example question</h3>
	<p>This is an example answer</p>
	<br>
	<hr>
	<br>

	<h3>This is an example question</h3>
	<p>This is an example answer</p>
	<br>
	<hr>
	<br>

	<h3>This is an example question</h3>
	<p>This is an example answer</p>
	<br>
	<hr>
	<br>


	<h3>This is an example question</h3>
	<p>This is an example answer</p>
	<br>
	<hr>
	<br>


	<h3>This is an example question</h3>
	<p>This is an example answer</p>
	<br>
	<hr>
	<br>


	<h3>This is an example question</h3>
	<p>This is an example answer</p>		



</div>


<%= render 'footer' %>


