<%= render 'users/header' %>
<div class="container">
	<h1>Frequently Asked Questions</h1>

	<h2>This is an example question, for something awesome possibly?</h2>
	<p>This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. </p>
	<hr>


	<h2>This is an example question, for something awesome possibly?</h2>
	<p>This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. </p>
	<hr>


	<h2>This is an example question, for something awesome possibly?</h2>
	<p>This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. </p>
	<hr>


	<h2>This is an example question, for something awesome possibly?</h2>
	<p>This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. </p>
	<hr>


	<h2>This is an example question, for something awesome possibly?</h2>
	<p>This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. </p>
	<hr>


	<h2>This is an example question, for something awesome possibly?</h2>
	<p>This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. </p>
	<hr>


	<h2>This is an example question, for something awesome possibly?</h2>
	<p>This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. </p>
	<hr>


	<h2>This is an example question, for something awesome possibly?</h2>
	<p>This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. This is an example answer. </p>
	<hr>

</div>


<%= render 'footer' %>


