<div class="welcome">
<strong><h1>Collaborate on Side Projects</h1></strong>
<h4>Connect via Github to start building.</h4>
	<a href="<%= user_omniauth_authorize_path(:github) %>"><%= image_tag "github_btn.png" %></a> 
</div>
