<div class='footer'>
	 © Late Labs LLC 2013. All rights reserved.
	<ul>
		<li><a href="/about">about</a></li> |
		<li><a href="http://latelabs.tumblr.com">blog</a></li> |
		<li><a href="/FAQ">FAQ</a></li> |
		<li><a href="/termsandconditions">terms & conditions</a></li> |
		<li><a href="/privacy">privacy policy</a></li> |
		<li><a href="mailto:hustle@latelabs.com">contact us</a></li>
	</ul>
</div>
