<%= render 'header' %>

<div class="projects_index">
<% @project.each do |project| %>
	<ul>
	<li><%= link_to project.title %></li>
	<li><%= project.explanation %></li>
	</ul>
<% end %>
</div>

<%= render 'footer' %>