<div class="show_projects">

<% @projects_api.each do |project| %>
	<ul class="project">	
	<li class="title"><%= project['name'] %></li>
	<li class="code"><%= project['html_url'] %></li>
	<li><%= project['languages_url'] %></li>
	<li><%#= project['collaborators'] %></li>

	</ul>
<% end %>

</div>

<%= render :partial => 'form' %>
