.message_show{
	font-family: 'Roboto', sans-serif;
}
.container-fluid .row-fluid .span6 .user_skills{
	float: left;
	margin-left: 100px;
}
.container-fluid .row-fluid .span6 .project_skills{
	margin-left: 500px;
}
.sending_message{
	margin-top: 25px;
	margin-left: 20%;
	margin-right: 20%;
}
.container-fluid .row-fluid .search{
	margin-top: 25px;
	margin-left: 20%;
	margin-right: 25%;
}
