.message_show, .messages{
	font-family: 'Roboto', sans-serif;
	margin-right: 25%;
	margin-left: 25%;
}
.message_show h4 a{
	background-color: rgb(0, 184, 174);
	padding: 8px 12px;
	border-radius: 25%;
}
.messages li a, a{
	color: black;
}
.container-fluid .row-fluid .span6 .user_skills{
	float: left;
	margin-left: 100px;
}
.container-fluid .row-fluid .span6 .project_skills{
	margin-left: 500px;
}
.sending_message{
	margin-top: 25px;
	margin-left: 20%;
	margin-right: 20%;
}
.container-fluid .row-fluid .search{
	margin-top: 25px;
	margin-left: 20%;
	margin-right: 25%;
}
.container-fluid .row-fluid .search li a{
	color: black; 
}

