ul{
	list-style-type: none;
}
.project_form{
	padding-top: 100px;
	padding-left: 20px;
}
.row .span5 .new_project{
text-align: center;
}
.row .span5{
	float: left;
	padding-top: 55px;
}
.row .span5 .user_info{
/*	background-color: blue;
	position: fixed;*/
	padding-right: 25px;
}
.navbar.navbar-fixed-top{
	padding: 18px 0;
	background-color: orange;
}
.navbar.navbar-fixed-top .auth{
	float: right;
}
.flash{
	text-align: center;
	color: red;
}
.show_projects{
	margin-left: 20px;
	float:left;
}
.show_project{
	margin-top: 80px;
}