ul{
	list-style-type: none;
}
body{
	background-color: rgb(248, 248, 248);
}
.logo{
	position: fixed;
	margin-left: 100px;
}
.navbar.navbar-fixed-top{
	background-color: rgb(254, 116, 0);
	font-family: 'Roboto', sans-serif;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}
.navbar.navbar-fixed-top .signed-out-nav ul li{
	line-height: 64px;
	color: white;
	display: inline-block;
	margin-right: 25px;
}
.navbar.navbar-fixed-top .signed-out-nav ul{
	margin-left: 280px;
	float: left;
}
.navbar.navbar-fixed-top .auth{
	float: right;
	line-height: 64px;
	padding-right: 100px;
	color: white;
}
.navbar.navbar-fixed-top .logo img{
	margin-top: 16px;

}
.navbar.navbar-fixed-top .search{
	float: left;
	margin-left: 300px;
}
.navbar.navbar-fixed-top .search #search{
margin-top: 21px;
}
.navbar.navbar-fixed-top .auth .mail_image img{
	height: 12px;
	width:18px;
	margin-top: -2px;
	margin-right: 1px;
}
.project_form{
	margin-left: 20px;
}
.container-fluid .row-fluid .span4 .user_info{

}
.container-fluid .row-fluid .span4{
	float: left;
	margin-left: 120px;
}
.container-fluid .row-fluid .span4 .skills_container{
	margin-left: 25px;
	margin-top: 50px;
}
.container-fluid .row-fluid .span4 .projects_container{
	margin-left: 25px;
	margin-top: 70px;
}
.container-fluid .row-fluid .span4 .projects_container #new_skillset{
	margin-top: 70px;
}

.container-fluid .row-fluid li img{
	height: 150px;
	width: 150px;
}
.span4:nth-child(2) {
	margin-top: 70px;
}

.flash{
	text-align: center;
	color: red;
	padding-top: 60px;
}
.search .search_button{
	display:none;
}