<footer class="emailfooter">
  <p>You're receiving this as a registered user of Late Labs. If you would not like to receive these emails from us, click here to <a href="#">unsubscribe</a>.</p>
</footer>
