<%= render 'headeremail' %>

<div class="email">
  <h1 class="emailh2">Welcome <%= @resource.user_name %>,</h1>

  <p>You can confirm your account email through the link below:</p>

  <p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
</div>

<%= render 'footeremail' %>