<!DOCTYPE html>
<html>
	<head>
		<title>latelabs</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>

		<meta content='user-scalable=no, initial-scale=1, width=device-width' id='viewport' name='viewport' />
		<script src="https://d26b395fwzu5fz.cloudfront.net/latest/keen.min.js"></script>
		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-34139499-1']);
			_gaq.push(['_setDomainName', 'latelabs.com']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();


			var client = new Keen({
				projectId: "5249b27f05cd6640eb000008",
				readKey: "1fecc7c2a0212a7e8602ccb2b26e499e1c1b756cbaca48f16f6be9a182a6e822dd7a3206e0990a12ea0888bb6725c71ad580c9d99bac5ffa2ae396a83fb6b2b1c435db5351235ab6e5fd7ad4ce9294b40fa092e102e62e785291040f314c50210934519153466cecb6e1bd29f65a5e0c"
			});
		</script>

		<link href='http://fonts.googleapis.com/css?family=Roboto:400,900,500,300italic,300' rel='stylesheet' type='text/css'>

		<!-- Hover Buttons -->
		<link href="css/hover.css" rel="stylesheet" media="all">

		<!-- Font Awesome -->
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

	</head>
	<body>
		<%= yield %>

		<% debug(params) if Rails.env.development? %>
	</body>
</html>
