<!DOCTYPE html>
<html>
	<head>
		<title>latelabs</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>

		<meta content='user-scalable=no, initial-scale=1, width=device-width' id='viewport' name='viewport' />

		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-34139499-1']);
			_gaq.push(['_setDomainName', 'latelabs.com']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		</script>

		<link href='http://fonts.googleapis.com/css?family=Roboto:400,900,500,300italic,300' rel='stylesheet' type='text/css'>

		<!-- Hover Buttons -->
		<link href="css/hover.css" rel="stylesheet" media="all">

		<!-- Font Awesome -->
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

	</head>
	<body>
		<%= yield %>

		<% debug(params) if Rails.env.development? %>
	</body>
</html>
