<!DOCTYPE html>
<html>
	<head>
		<title>latelabs</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>

		<meta content='user-scalable=no, initial-scale=1, width=device-width' id='viewport' name='viewport' />
		<script src="https://d26b395fwzu5fz.cloudfront.net/latest/keen.min.js"></script>
		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-34139499-1']);
			_gaq.push(['_setDomainName', 'latelabs.com']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();


			var client = new Keen({
				projectId: "522ea8fca136b00bbe000002",
				readKey: "e446d105279b21412715497398e2a0c3399e5ead8dd524231ac4797c5a48e9184085f6f235b8e86a357a09f46baa9d8686a73dd33fee9d9ace01d1b0821d8bce79c7feebdb021dcef89ae8a8fa17dbfab44da31885fcc74570bb91234aceab5f983a93698c5b7e8e0966a4d50d942839"
			});
		</script>

		<link href='http://fonts.googleapis.com/css?family=Roboto:400,900,500,300italic,300' rel='stylesheet' type='text/css'>

		<!-- Hover Buttons -->
		<link href="css/hover.css" rel="stylesheet" media="all">

		<!-- Font Awesome -->
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

	</head>
	<body>
		<%= yield %>

		<% debug(params) if Rails.env.development? %>
	</body>
</html>
